<link rel="stylesheet" href="../../static/styles/css/home.css">
{% extends  'portfolio/home.html' %}

{% block basetemplate %}
<div class="portfolio-items-wrapper-about">
    <div class="portfolio-item-wrapper">
        <div class="portfolio-img-background">
            <img src="../../static/styles/img/background/whatwedo_1360X961.jpg"></img>
        </div>
        <div class="img-text-wrapper">
            <div class= "img-text-wrapper-h2"><h2>What we do?</h2></div>
            {% for proj in projects %}
                <div class="img-text-wrapper-a"><a href="/{{proj.page_url_name}}/" class='text-element'>{{ proj.title }}</a></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}