<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>therockart</title>
    <link rel="stylesheet" href="../../static/styles/css/home.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper-container">
            <nav class="nav-wrapper">
                <div class="left-side">
                    <div class="brand">
                        <div class="nav-link-wrapper">
                            <a href="{% url 'home' %}">therockart</a>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="nav-link-wrapper">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="{% url 'about' %}">About Us</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="#">Pages</a>
                    </div>  
                    <div class="nav-link-wrapper">
                        <a href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content-wrapper">
            {% block basetemplate %}
            {% endblock %}   
        </div>
    </div>
</body>
</html>