{% extends 'portfolio/base.html' %}
{% block basetemplate %}

<div class="portfolio-items-wrapper">
    <div class="portfolio-item-wrapper">
        <!--div class="portfolio-img-background-home" ></div-->
        <img class="portfolio-img-background" src="../../static/styles/img/background/therockart_1360X960.jpg"></img>
    </div>
</div>

{% endblock %}

<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>therockart</title>
    <link rel="stylesheet" href="../../static/styles/css/home.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper-container">
            <nav class="nav-wrapper">
                <div class="left-side">
                    <div class="brand">
                        <div>therockart</div>
                    </div>
                </div>
                <div class="right-side">
                    <!--ul>
                        <div class="nav-link-wrapper"><li class='nav-item'><a class="nav-link" href="#">Home</a></li></div>
                        <div class="nav-link-wrapper"><li class='nav-item'><a class="nav-link" href="#">About</a></li></div>
                        <div class="nav-link-wrapper"><li class='nav-item'><a class="nav-link" href="#">Pages</a></li></div>
                        <div class="nav-link-wrapper"><li class='nav-item'><a class="nav-link" href="#">Contact</a></li></div>
                    </ul>
                    <div class="nav-link-wrapper">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="{% url 'about' %}">About Us</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="#">Pages</a>
                    </div>  
                    <div class="nav-link-wrapper">
                        <a href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content-wrapper">
            <div class="portfolio-items-wrapper">
                <!--div class="portfolio-img-background" style="background-image:url(img/background/therockart.jpg);"></div>
                <img class="portfolio-img-background" src="../../static/styles/img/background/therockart_1360X960.jpg"></img>
            </div>
        </div>
    </div>
</body>
</html-->