{% extends  'portfolio/base.html' %}

{% block basetemplate %}
<div class="portfolio-items-wrapper">
    <div class="portfolio-item-wrapper">
        <!--div class="portfolio-img-background-home" ></div-->
        <div class="portfolio-img-background">
            <img src="../../static/styles/img/background/brochure_design_1360X959.jpg"></img>
        </div>
    </div>
</div>

{% endblock %}

