/* master styles */

body {
    margin: 0px;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles*/

.nav-wrapper-container {
    background-color: #6f260b;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.right-side {
    display: flex;
    padding-right: 50px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.2em;
    color: #ffffff;
    text-transform: lowercase
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    color: #ffffff;
    text-transform: uppercase
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid whitesmoke;
}

.nav-link-wrapper a:hover {
    color: whitesmoke;
}

/* Portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    background-color:#ffffff;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 100%;
    width: 100%;
    box-align:center;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 60px;
    display: block;
    flex-direction: coloumn;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 190px;    
}

.img-text-wrapper-a  {
    position: relative;
    display: block;
    padding-bottom: 7px;
    transition: ease;
}

.img-text-wrapper-a > a {
    font-size: 1.2em;
    text-decoration: none;
}

.img-text.wrapper-h2 {
    display: block;
}

.img-text-wrapper-h2 > h2 {
    color: #6f260b;    
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.text-element {
    font-weight: 50;
    color: black;
    /*transition: ease-in-out;*/
}

.text-element:hover {
    color: #6f260b;
    font-weight: bolder;
    border: 1.25px solid #6f260b;
    border-radius: 0.25em;
    /*transform: scale(1.3);
    background: #ffde2d;
    box-shadow: 1px 1px 1px #fade41;
    z-index: 1;*/
}